* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.background {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.bike {
    background: transparent url('bike.jpg') 0 0 no-repeat;
    background-size: cover;
}

.heli {
    background: transparent url('heli.jpg') 0 0 no-repeat;
    background-size: cover;
    opacity: 0;
    animation: fadeInOut ease-in-out infinite 10s alternate;
}

@keyframes fadeInOut {
    0% { opacity: 1; }
    45% { opacity: 1; }
    55% { opacity: 0; }
    100% { opacity: 0; }
}

.container {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
}

#panel {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 20em;
    margin: 20px;
    padding: 20px;
}

h1 {
    margin-bottom: 0.5em;
}

a i {
    margin-right: 0.5em;
}

.mb {
    margin-bottom: 0.5em;
}
