* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.background {
    transition: opacity 3s fade-in-out;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}
.background.show {
    opacity: 1;
}

.bike {
    background: transparent url('bike.jpg') 0 0 no-repeat;
    background-size: cover;
}
.heli {
    background: transparent url('heli.jpg') 0 0 no-repeat;
    background-size: cover;
}
.snow {
    background: transparent url('snow.jpg') 0 0 no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
}

#panel {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 20em;
    margin: 20px;
    padding: 20px;
}

h1 {
    margin-bottom: 0.5em;
}

a i {
    margin-right: 0.5em;
}

.mb {
    margin-bottom: 0.5em;
}

.social {
    display: block;
    margin-top: 1em;
}

.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
    justify-content: space-between;
}
